html,body{ height: 100%}  
.wrapper{
   min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -80px;
   padding-bottom: 80px
}
.social .fa-facebook:hover, .social .fa-twitter:hover, .social .fa-google-plus:hover, .social .fa-vine:hover, .social .fa-flickr:hover {
  padding: 5px;
  background: #fff;
  font-size: 15px;
  border-radius: 5px; }

.detail-news h2, .detail-news h3 {
  color: #43bf87;
  font-weight: bolder;
  text-transform: capitalize; }

.ind, .brz, .nyk, .phi, .bru, .blu, .ali {
  color: #fff;
  padding: 5px 10px;
  font-weight: bolder;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  display: inline; }

.copyright, .copyright a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.2vw;
  padding: 5px; }

.social {
  position: absolute;
  bottom: 32px;
  font-size: 20px;
  padding-top: 6px;
  border-radius: 2px; }
  .social .fa-facebook {
    padding: 5px; }
    .social .fa-facebook:hover {
      color: #3a5795;
      padding: 5px;
      background: #fff;
      font-size: 15px;
      border-radius: 5px; }
  .social .fa-twitter {
    padding: 5px; }
    .social .fa-twitter:hover {
      color: #55acee; }
  .social .fa-google-plus {
    padding: 5px; }
    .social .fa-google-plus:hover {
      color: #d73d32; }
  .social .fa-vine {
    padding: 5px; }
    .social .fa-vine:hover {
      color: #55acee; }
  .social .fa-flickr {
    padding: 5px; }
    .social .fa-flickr:hover {
      color: #ff0085; }
  .social ul {
    margin: 0;
    padding: 5px;
    width: 100%;
    margin-left: -20px;
    margin-top: -10px; }
    .social ul li i {
      font-size: 16px; }

.detail-news {
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  color: #000;
  font-weight: bold;
  text-align: justify; }
  .detail-news h3 {
    margin-left: -15px; }

.ind {
  background-color: #903823; }

.brz {
  background-color: #0084c4; }

.nyk {
  background-color: #1a1b36; }

.phi {
  background-color: #fad157; }

.bru {
  background-color: #43bf87; }

.blu {
  background-color: #14b9d6; }
  
.ali{
  background-color: #F27935; }

@font-face {
  font-family: CaviarDreams;
  src: url(../libs/fonts/CaviarDreams.ttf); }
body{
  font-family: CaviarDreams;
}
.clear {
  clear: both; }

* {
  box-sizing: border-box; }

.red {
  color: red; }

.blue {
  color: blue; }

.canvas-outer {
  overflow: hidden;
  position: relative; }

.tag {
  color: #43bf87;
  position: absolute;
  top: 10px;
  text-transform: capitalize; }
  .tag i {
    width: 100%;
    display: inline; }
  .tag span {
    color: #fff;
    margin-left: 5px;
    font-family: CaviarDreams; }

.nav-btn {
  color: #fff;
  height: 2.8125rem;
  line-height: 2.0625rem;
  padding: 0;
  position: absolute;
  text-indent: 2.1875rem;
  width: 3.8125rem;
  top: 0;
  overflow: hidden;
  right: 0; }
  .nav-btn span {
    box-shadow: 0 10px 0 1px #43bf87, 0 16px 0 1px #43bf87, 0 22px 0 1px #43bf87;
    display: block;
    height: 0.1em;
    right: 1.8125rem;
    position: absolute;
    top: 0.3125rem;
    width: 0.1rem; }
  .nav-btn:hover {
    cursor: pointer; }
    .nav-btn:hover span {
      box-shadow: 0 10px 0 1px #b3b3b3, 0 16px 0 1px #b3b3b3, 0 22px 0 1px #b3b3b3; }

.nav-brand {
  text-align: center;
  font-size: 2em;
  color: #43bf87;
  width: 100%;
  display: inline-block;
  height: 42px; }
  .nav-brand:hover {
    color: rgba(67, 191, 135, 0.8); }

.rotate {
  animation: rotate-auto 5s infinite linear; }

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotate-auto {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.navigate {
  width: 80%; }

.nav-wrap {
  background: #333;
  height: 100%;
  overflow: hidden;
  font-size: 1em;
  font-family: CaviarDreams;
  z-index: 9999;
  background: #323a45; }
  .nav-wrap a:hover {
    color: rgba(67, 191, 135, 0.5); }

.fixToTop {
  position: fixed;
  width: 100%;
  background: #323a45;
  padding-left: 15px;
  z-index: 9999; }

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 9999; }
  .nav .fa {
    margin-right: 10px;
    color: #43bf87; }
  .nav:before {
    content: " ";
    display: table; }
  .nav:after {
    content: " ";
    display: table;
    clear: both; }
  .nav > li {
    border-top: 1px solid #444; }
    .nav > li.search-form {
      padding: 5px 15px;
      position: relative; }
      .nav > li.search-form input {
        background-color: rgba(255, 255, 255, 0.2);
        border: 0 none;
        border-radius: 30px;
        color: #fff;
        font-size: 14px;
        outline: medium none;
        padding: 5px 15px 5px 26px;
        width: 100%;
        margin-top: 42px;
        font-style: italic; }
      .nav > li.search-form:after {
        content: " ";
        height: 17px;
        width: 17px;
        left: 22px;
        top: 50%;
        margin-top: -7px;
        position: absolute;
        background-size: 16px;
        border-radius: 20px; }
  .nav a {
    color: #fff; }
  .nav li a:hover {
    background: #fff;
    color: #43bf87;
    font-weight: bolder;
    background-color: #fff; }

.social-right {
  width: 100%;
  text-align: center; }
  .social-right a i {
    margin: 10px 30px; }

.canvas-inner {
  position: relative;
  right: 0; }

.transform3d .canvas-inner {
  transition: all 500ms ease 0s; }

.transform3d .nav-push .canvas-inner {
  transition: all 0.3s ease; }

@media all and (min-width: 300px) {
  .item {
    width: 100%;
    height: 150px; }
    .item img {
      height: 150px; }
  .detail-news h2 {
    margin-top: 25px; }
  .decrip-team h2 {
    color: #43bf87;
    text-align: left;
    font-size: 3vw; } }

@media all and (min-width: 768px) {
  .item {
    width: 100%;
    height: 100%; }
    .item img {
      height: auto; }
  .nav-wrap {
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    font-size: 1em; }
  .detail-news h2 {
    margin-top: 65px; }
  .decrip-team h2 {
    color: #43bf87;
    text-align: left; } }

.header {
  background: #323a45; }

section {
  margin-top: 52px; }

.date {
  position: absolute;
  background: #43bf87;
  padding: 6px;
  font-weight: bolder;
  color: #fff;
  top: 0;
  width: 20%;
  text-transform: uppercase;
  text-align: center;
  font-size: 2vw;
  font-family: CaviarDreams;
  z-index: 1; }

.sport {
  margin-bottom: 2em; }
  .sport .info {
    padding: 1em;
    background-color: #eee; }

.info h2 {
  margin-top: -6px; }

.info a {
  text-decoration: none;
  color: #43bf87; }

.max-lines {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.8em;
  white-space: nowrap; }

.share {
  position: relative;
  overflow: hidden; }

.shareicon {
  position: absolute;
  text-align: right;
  right: 15px;
  bottom: 10px; }
  .shareicon i {
    display: inline-block;
    padding-top: 6px;
    font-size: 16px;
    text-align: center;
    width: 32px;
    height: 32px;
    border: 2px solid #43bf87;
    border-radius: 50%;
    color: #43bf87; }

.pagination {
  text-align: center;
  width: 100%; }
  .pagination .btn {
    background-color: #eee; }
    .pagination .btn i {
      color: #43bf87; }

.line {
  border-bottom: 1px solid #000;
  padding: 10px; }

#demo {
  padding-top: 15px; }

.item h4 {
  text-transform: uppercase;
  text-align: center;
  top: 0;
  font-weight: bold;
  color: #43bf87;
  text-shadow: 2px 2px 4px #ececec; }

.item img {
  width: 100%; }

.single-prev-next {
  float: right;
  font-size: 1.5vw;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 10px; }
  .single-prev-next a {
    color: #43bf87;
    text-decoration: none;
    padding-left: 10px; }
    .single-prev-next a i {
      margin-right: 3px; }

.right-arrow a {
  float: right; }

.right-arrow i {
  margin-right: 15px; }

#zoomIn {
  position: relative;
  margin-bottom: 15px; }
  #zoomIn .detail {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    color: #fff; }
    #zoomIn .detail p {
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px; }
  #zoomIn:hover .detail {
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #fff;
    padding: 20px;
    font-size: 1vw;
    background: rgba(255, 255, 255, 0.5); }

.border-team {
  padding: 5px;
  margin: 10px;
  box-shadow: 0 0 10px 2px rgba(187, 187, 187, 0.82); }

.team {
  border: 1px solid #cecece;
  padding: 5px;
  margin: 10px; }

.line-team {
  border-bottom: 1px solid #cecece;
  margin-bottom: 10px; }

.decrip-team {
  margin-top: -15px; }
  .decrip-team p {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.8em;
    white-space: nowrap; }
  .decrip-team a {
    text-decoration: none;
    color: #43bf87; }

.banner-detail-team {
  background-attachment: fixed;
  background-image: url(../images/head-detail-team-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 677px;
  margin-top: -11px;
  padding-top: 300px; }

.content-detail-team {
  background-color: #fff;
  position: relative;
  height: 377px; }
  .content-detail-team img {
    margin-top: 100px;
    height: 50%;
    width: 50%;
    display: inline-block;
    text-align: center; }

.avatar-player {
  text-align: center;
  display: inline-block;
  padding: 10px;
  position: absolute;
  margin-top: -250px; }
  .avatar-player img {
    background: #fff;
    padding: 5px; }

.info-player {
  padding-top: 50px; }

.name-player {
  text-align: center;
  color: #43bf87;
  text-transform: capitalize;
  font-size: 4vw; }

.player {
  height: 100%; }
  .player div {
    text-align: center;
    text-transform: capitalize;
    height: 30px;
    padding: 5px; }

.desc-player {
  text-align: justify;
  font-size: 12px;
  color: #3a3936;
  padding: 0 40px; }

.desc-player-text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center; 
  margin: 0;
  padding: 30px 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), #fff); }

.desc-player-read-more {
  text-align: center; }
.tit-ladder{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.tit-ladder i{
  display: inline-block;
  font-size: 2vw;
}
.title-ladder {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  color: #43bf87; }

.caption {
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
  font-size: 3vw; }

.ladder {
  border-bottom: 1px solid #eee; }

.lineheight {
  line-height: 3.5; }
  .lineheight span {
    font-size: 12px;
    font-weight: bolder;
    text-transform: capitalize; }

.team-name {
  padding-left: 5px; }

.logo-ladder-team {
  background-size: 50px 50px;
  background-repeat: no-repeat;
  padding: 12px 0 10px 16px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  font-weight: bolder;
  font-size: 20px;
  max-width: 50px; }
  .logo-ladder-team span {
    color: #fff;
    font-size: 3vw;
    text-shadow: 2px 2px 4px #000;
    text-align: center; }
  .logo-ladder-team img {
    background-size: 50px 50px;
    background-repeat: no-repeat;
    max-width: 47px;
    padding: 14px 5px 13px; }

.name-team {
  width: 100%;
  display: inline-block; }

.btn-arrow {
  background-color: #323a45;
  color: #43bf87; }

span[data-cal-date] {
  color: #43bf87;
  opacity: 1 !important;
  font-weight: bold; }



.cal-row-fluid {
  color: #323a45; }

#footer {
  text-align: center;
  font-size: 2em;
  background-color: #323a45;
  padding: 10px; }

.pb-socialicon {
  padding-top: 6px;
  font-size: 16px;
  text-align: center;
  width: 32px;
  height: 32px;
  border: 2px solid #43bf87;
  border-radius: 50%;
  color: #43bf87; }
  .pb-socialicon:hover {
    border: 2px solid rgba(67, 191, 135, 0.5);
    border-radius: 50%;
    color: rgba(67, 191, 135, 0.5); }


.sidebar-box {
  /*float: left;
  width: 250px;
  margin: 0 20px 0 0;*/
  max-height: 120px;
  position: relative;
  padding: 20px;
  overflow: hidden; }
  .sidebar-box .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0; }

.button {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: #000 0 1px 0, #000 0 0 10px, #000 0 0 20px, #000 0 0 30px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #fff;
  font-size: 14px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle; }

.search-input:focus {
  box-shadow: 0 1px 1px 0 #43bf87 !important;
  transition: all .5s ease-out; }

.nav-push .canvas-inner {
  right: 80%; }

#social img {
  transition: all 0.8s ease-in-out; }

.arrow a {
  display: inline;
  color: #43bf87;
  float: left;
  font-size: 1.5vw;
  text-decoration: none; }

.left-arrow a {
  font-family: CaviarDreams;
  margin-left: 15px; }

.img-team img {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  display: inline; }

.view-more-team a {
  text-decoration: none;
  color: #43bf87; }

.cal-day-weekend span[data-cal-date] {
  color: red !important; }
.modal-content{
  padding: 10px;
  /*background-color: #323A45;
  color: #fff;*/
}
.modal{
  top: 50px!important;
}
.modal h4{
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}
.cal-day-today {
  background-color: #43bf87!important;
  color: #fff;
}
.event-warning{
  background-color: #43bf87!important;
}
.event-success{
  background-color: #323A45!important;
  }

.cal-month-box .cal-day-today span[data-cal-date]{
  color: #fff!important;
}
.label-ladder{
  display: inline-block;
  color: #323A45;
  text-align: center;
}
.label-ladder .event-home, .label-ladder .event-way{
  margin:10px;
}
.event-home{
  border-radius: 8px;
  height: 12px;
  width: 12px;
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,.4);
  background-color: #43bf87;
}
.event-way{
  border-radius: 8px;
  height: 12px;
  width: 12px;
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,.4);
  background-color: #323A45;
}